.cursor-pointer {
    cursor: pointer;
}

.disabled-date{
    background-color: rgb(206, 206, 206) !important;
    cursor: no-drop !important;
}

.current-date{
    background-color: #9ea86b !important;
}

.enabled-date:hover{
    background-color: #9ea86b !important;
}

/* NAV BAR CUSTOM */
.nav-cus-background{
    background-color: #0f0f0f !important;
}

.nav-link{
    color:white !important
}
.nav-link.active{
    border: 2px solid #9ea86b !important;
}

.nav-link:hover{
    border: 2px solid #9ea86b !important;
}

.custom-nav-margin{
    margin-top: 120px;
}

.custom-footer-margin{
    margin-top: 50px;
}


.text-main{
    color:#9ea86b !important
}

.custom-body-color{
    background-color: #0f0f0f !important;
}

.bg-dark-custom{
    background-color: #0f0f0f !important;
}

.btn-outline-custom{
    border:1px solid #9ea86b !important;
}

.btn-outline-custom:hover{
    background-color: #9ea86b !important;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}
/* END */