.upload-content{
    text-align: center;
    padding: 110px;
    max-height: 250px;
    max-width: 250px;
    width:250px;
    height:250px;
    border: 2px dotted #9ea86b;
    color:#9ea86b;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
}


.image-content img{
    max-height: 250px;
    max-width: 250px;
    width:250px;
    height:250px;
    border: 4px solid #9ea86b;
    border-radius: 10px;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}


.text-danger{
    color : rgb(238, 0, 0);
}

.d-none{
    display: none !important;
}
.text-label{
    cursor: default !important;
}

.img{
    width: 100px;
    height: 100px;
    object-fit: cover;

}


.text-center td{
    text-align: center !important;
}